.login-share-footer
  %footer.ul-footer
    %nav.ul-ftnv
      %ul.ul-ftnv__ul
        %li.ul-ftnv__ul--list
          %a{href:"https://www.mercari.com/jp/privacy/"}プライバシーポシシー
        %li.ul-ftnv__ul--list
          %a{href:"https://www.mercari.com/jp/privacy/"}メルカリ利用規約
        %li.ul-ftnv__ul--list
          %a{href:"https://www.mercari.com/jp/privacy/"}特定商取引に関する表記
    %a.ul-ftlink{href:"https://www.mercari.com/jp/"}
      %img{src:"//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?2845599746",class: "ul-ftlink__img",alt:"mercari",width:"80",height:"65"}
    %p.ul-ftmsg
      %small © 2019 Mercari
