.content

%footer.top-footer
  %nav.footer-nav
    %ul.footer-nav-content
      %li.footer-cell
        %h2.footer-head
          %ul.left-list
            %li.common
              %a.common-content{:href => "https://about.mercari.com/"} 会社概要（運営会社）
            %li.common
              %a.common-content{:href => "https://www.mercari.com/jp/privacy/"} プライバシーポリシー
            %li.common
              %a.common-content{:href => "https://www.mercari.com/jp/tos/"} メルカリ利用規約
            %li.common
              %a.common-content{:href => "https://www.mercari.com/jp/tos_paid_point/"} 有償ポイントに関する特約
            %li.common
              %a.common-content{:href => "https://www.mercari.com/jp/tos_smartphone_support/"} あんしんスマホサポート制度に関する利用特約
            %li.common
              %a.common-content{:href => "https://www.mercari.com/jp/compliance/"} コンプライアンスポリシー
            %li.common
              %a.common-content{:href => "https://www.mercari.com/jp/data_security/"} 個人データの安全管理に係る基本方針
            %li.common
              %a.common-content{:href => "https://www.mercari.com/jp/tokutei/"} 特定商取引に関する表記
            %li.common
              %a.common-content{:href => "https://www.mercari.com/jp/shikin_kessai/"} 資金決済法に基づく表示
            %li.common
              %a.common-content{:href => "https://about.mercari.com/csr/safety/"} 法令順守と犯罪抑止のために
            %li.common
              %a.common-content{:href => "https://www.mercari.com/jp/jobs/"} 採用情報
