/ ここにヘッダーの部分テンプレート
.um-default
  %nav.bread-crumbs
    %ul
      %li
        = link_to 'メルカリ > マイページ(パンくずリスト仮置き)'
  .um-container
    = render 'devise/shared/side_bar'
    = render 'devise/shared/um-content'
/ ここにフッターの部分テンプレート
