.um-side {
  margin: 0 40px 0 0;
  width: 280px;
  float: left;
  .um-mypage-nav {
  margin:0;
  padding:0;
  .um-mypage-nav-head {
  font-size:16px;
  font-weight: bold;
  margin-top:40px;
  margin-bottom: 5px;
    }
&-list-item{
  text-decoration: none;
  display: block;
  min-height: 15px;
  padding: 16px;
  background: #fff;
  color: #333;
  line-height:16px;
  border-bottom: 1px solid #eee;
  &:hover {
  opacity: 1;
    }
  }
  .fa-angle-right{
  float: right;
  font-size:25px;
  color: #ccc;
  margin-top: -5px;
    }
  }
}
