.um-content{
width: 700px;
float: right;


.um-content-user {
  $btn_class:'.tab_btn1';
  $btn_name: 'tab_btn1';
  margin-bottom: 50px;
  height: 100%;
  width: 100%;
  &__header{
    padding: 7%;
    background-image: url(/assets/user-bg.jpg);
    background-size: cover;
    &__icons {
      text-align: center;
      line-height: 25px;
      a{
        color: #333;
        text-decoration: none;
      }
      img{
        height: 50px;
        width: 50px;
        border-radius:  50%;
        opacity: 3;
      }
      .um-user-name{
        font-weight: 600;
      }
      .um-under-content{
        display: inline-block;
        width: 60px;
      }
      .um-counter-label{
        font-size: 14px;
      }
      .um-counter{
        font-weight: 600;
      }
    }
  }
  &__tabs {
    background-color: #fff;
  #{$btn_class} {
    width: calc(100%/2);
    height: 80px;
    background-color: #eee;
    line-height: 80px;
    font-size: 16px;
    text-align: center;
    color: #333;
    display: block;
    float: left;
    text-align: center;
    font-weight: bold;
    transition: all 0.2s ease;
    }
  #{btn_class}:hover {
    opacity: 0.75;
  }
  input[name= #{$btn_name}] {
    display: none;
  }
  input:checked + #{$btn_class} {
    background-color: #fff;
    color: #333;
    border-top: 2px solid #ea352d;
  }
    .tab_pages {
    display: none;
    padding: 3%;
    clear: both;
    overflow: hidden;
    .none-content{
      padding: 160px 0 60px;
      background: url(/assets/logo-gray-icon.png);
      background-repeat: no-repeat;
      background-position: center 40px;
      background-size: 78px 85px;
      text-align: center;
      font-size: 16px;
      color: #ccc;
    }
  }
      #tab-info:checked~#info-contents,
    #tab-todo:checked~#todo-contents {
      display: block;
      float:auto;
    }
  }
}

.content-buy-items{
  $btn_class: '.tab_btn2';
  $btn_name: 'tab_btn2';
  margin: 0 auto;
  height: 100%;
  width: 100%;
  &__header{
    height: 80px;
    line-height: 80px;
    font-size: 16px;
    font-weight: 900;
    background-color: #fafafa;
    padding-left: 15px;
  }
    &__tabs {
    background-color: #fff;
  #{$btn_class} {
    width: calc(100%/2);
    height: 80px;
    background-color: #eee;
    line-height: 80px;
    font-size: 16px;
    text-align: center;
    color: #333;
    display: block;
    float: left;
    text-align: center;
    font-weight: bold;
    transition: all 0.2s ease;
    }
  #{btn_class}:hover {
    opacity: 0.75;
  }
  input[name= #{$btn_name}] {
    display: none;
  }
  input:checked + #{$btn_class} {
    background-color: #fff;
    color: #333;
    border-top: 2px solid #ea352d;
  }
    .tab_pages {
    display: none;
    padding: 3%;
    clear: both;
    overflow: hidden;
    .none-content{
      padding: 160px 0 60px;
      background: url(/assets/logo-gray-icon.png);
      background-repeat: no-repeat;
      background-position: center 40px;
      background-size: 78px 85px;
      text-align: center;
      font-size: 16px;
      color: #ccc;
    }
  }
    #tab-transaction:checked~#transaction-contents,
    #tab-past-transaction:checked~#past-transaction-contents{
      display: block;
      float: auto;
    }
  }
}
}
