.bread-crumbs {
  position: relative;
  border-top: 1px solid #eee;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  background: #fff;
  height:50px;
  ul {
    overflow: visible;
    margin: 0 auto;
    padding: 17px 0 16px;
    white-space: normal;
    width: 1020px;
  }
  li {
    display: inline-block;
    font-size: 14px;
    line-height: 1.2;
  }
  a {
    color: #333;
    margin-right:6px;
    &:hover{
      text-decoration: underline;
      opacity: 0.5;
    }
  }
  .fa {
    letter-spacing: 6px;
    font-size: 15px;
    font-weight:bold;
    color: #888;
  }
  .current {
    font-weight: bold;
  }
}
