h4 {
  font-weight: bold;
}
.opacity {
  opacity: 0.3;
}
.auto {
  margin: 0 auto;
}


.top-app-baner{
  color: white;
  height:260px;
  width: 100vw;
  background-image: url("https://www.mercari.com/jp/assets/img/common/jp/top/download_bg_pc.jpg?78405350");
  &__content{
    height: 260px;
    width: 750px;
    margin:0 auto;
    display: flex;
    justify-content:space-between;
    &__inner{
      width: 420px;
      align-self: center;
      &__introduction {
        font-size:24px;
      }
      p{
        font-size: 35px;
      }
      ul{
        padding-top: 20px;
        display: flex;
        justify-content:space-around;
        align-items: center;
      }
    }
    &__iPhone{
      height: 260px;
    }
  }
}

.footer__under{
  color: white;
  background-color:#212121;
  width: 100vw;
  padding: 60px 0;
  height: 480px;
  &__map{
    width: 1026px;
    height: 276;
    margin: 0 auto;
    text-align: center;
    ul{
      display: flex;
      justify-content:space-between;
    }
    &--list{
      display: flex;
      flex-direction:column;
      li{
        margin-top:12px;
        font-size: 13px;
        color: white;
        text-decoration: none;
        a {
          color: white;
          text-decoration: none;
        }
        a:hover {
          text-decoration: underline;
        }
        img {
          vertical-align: middle;
          float: left;
          padding-right: 5px;
        }
      }
    }
  }
  &__copyright{
    display: flex;
    flex-direction:column;
    &--logo{
      width: 124px;
      margin: 30px auto 0;

    }
    &--text{
      text-align: center;
      small {
        font-size:12px;
      }
    }
  }
}

