.is-wrapper{
  background-color: #f5f5f5;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
}

.is-item{
  width: 620px;
  margin: 40px auto 0;
  padding: 24px 40px 40px;
  background-color: #fff;
  h1{
    font-size: 24px;
    text-align: center;
    line-height: 1.4;
    font-weight: bold;
  }
  &__main{
    margin: 16px 0 0;
  }
  &__photos {
    float: left;
    width: 300px;
    min-height: 360px;
    background: #fafafa;
    position: relative;
    .is-slider{
      height: 300px;
      &__item{
        width: 300px;
        height: 300px;
        text-align: center;
        overflow: hidden;
        position: relative;
        img{
          height: 100%;
          width: auto;
          margin: 0 auto;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateY(-50%) translateX(-50%);
        }
      }
    }
    .is-thumbnails{
      display: flex;
      flex-wrap: wrap;
      &__item{
        position: relative;
        cursor: pointer;
        width: 75px;
        height: 75px;
        text-align: center;
        overflow: hidden;
        img{
          width:100%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateY(-50%) translateX(-50%);
        }
        &::before {
          opacity: 1;
          box-sizing: border-box;
          display: block;
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(255,255,255,.5);
          transition: opacity .2s ease-out;
          z-index: 100;
        }
        &.current {
          &::before {
           opacity: 0;
          }
        }
      }
    }
  }
  &__detail{
    float: right;
    width: 300px;
    height: 375px;
    border: 1px solid #f5f5f5;
    tr{
      font-size: 14px;
      line-height: 14px;
      font-weight: 400;
      th{
        width: 39%;
        padding: 8px;
        text-align: left;
        background: #fafafa;
        border: 1px solid #f5f5f5;
      }
      td{
        width: 61%;
        background: #fff;
        padding: 8px;
        border: 1px solid #f5f5f5;
      }
    }
    &__icons--one{
      display: inline-block;
      margin: 8px 16px 0 0;
      vertical-align: middle;
      i{
        font-size: 17.5px;
      }
      .fa-smile-o{
        color: #ef5185;
      }
      .fa-meh-o{
        color: #fba933;
      }
      .fa-frouwn-o{
        color: #6ab5d8;
      }
    }
    a{
      color: #0099e8;
    }
  }
}
.is-many-photos{
  .is-thumbnails__item{
    width: 60px;
    height: 60px;
  }
  .is-item__detail{
    height: 420px;
  }
}
.is-item{
  &__price{
    margin: 24px 0 0;
    text-align: center;
    &--bold{
      font-weight: 600;
      margin: 0 16px 0 0;
      font-size: 50px;    }
    &--tax{
      font-size: 10px;
    }
    &--shipping-fee{
      display: inline-block;
      font-size: 16px;
    }
  }
  &__buy-btn{
    height: 60px;
    line-height: 60px;
    display: block;
    margin: 16px 0 0;
    background: #ea352d;
    color: #fff;
    text-align: center;
    font-weight: 600;
    font-size: 24px;
  }
  &__description{
    padding: 32px 0 0;
    font-size: 18px;
    line-height: 1.5;
  }
  &__btns{
    margin: 16px 0 0;
    font-size: 0;
    a{
      display: inline-block;
    }
    i{
      font-size: 14px;
    }
    span{
      margin: 1px 0 0 8px;
      font-size: 14px;
    }
    &--left{
      float: left;
      .btn{
        display: inline-block;
        box-sizing: border-box;
        height: 33px;
        padding: 8px 16px;
        border-radius: 40px;
        line-height: 14px;
        cursor: pointer;
      }
      &--like{
        border: 1px solid #f5f5f5;
        color: #333;
        background: #f5f5f5;
        i{
          color: #ccc;
        }
      }
      &--liked{
        border: 1px solid  #ea352d;
        color: #ea352d;
        background: none;
        i{
          color: #ea352d;
        }
      }
      .is-likes-count{
        display: inline-block;
        width: 10px;
      }
      &--report{
        margin: 0 0 0 16px;
        background: #f5f5f5;
        color: #333;
      }
    }
    &--right{
      float: right;
      margin: 8px 0 0;
      a{
        color: #0099e8;
      }
    }
  }
  &__navi{
    margin: 24px auto 0;
    width: 700px;
    font-size: 14px;
    a{
      display: inline-block;
      color: #0099e8;
    }
    li{
      width: 45%;
    }
    &--prev{
      float: left;
    }
    &--next{
      float: right;
      text-align: right;
    }
    .fa{
      font-size: 16px;
    }
    .fa-angle-left{
      padding: 0 5px 0 0;
    }
    .fa-angle-right{
      padding: 0 0 0 5px;
    }
  }
  &__social-media-box{
    margin: 24px auto;
    padding: 32px 0 24px;
    width: 700px;
    background-color: #fff;
  }
  &__social-medias-text{
    height: 14px;
  }
  &__social-medias{
    margin: 16px 0 0;
    text-align: center;
    li{
      display: inline-block;
      margin: 0 8px 8px 0;
      vertical-align: middle;
      text-align: center;
    }
    i{
      width: 44px;
      height: 44px;
      border-radius: 4px;
      line-height: 44px;
      font-size: 52px;
    }
    .fa-facebook-square{
      color: #3b5998;
    }
    .fa-twitter-square{
      color: #00aced;
    }
    .fa-pinterest-square{
      color: #bd081c;
    }
  }
  &__relation{
    width: 700px;
    margin: 0 auto;
    section{
      overflow: hidden;
    }
    h2{
      margin: 24px 0 8px;
      font-size: 22px;
      line-height: 1.4;
      font-weight: 700;
      a{
        color: #0099e8;
      }
    }
    &__box:last-of-type{
      margin-bottom: 40px;
    }
    &__box__contents{
      .items-box{
        float: left;
        display: block;
        width: 220px;
        margin: 0 0 20px 20px;
        vertical-align: inherit;
      }
      .items-box:nth-child(3n+1){
        margin: 0 0 20px;
      }
    }
  }
  &__change-box{
    width: 652px;
    margin: 24px auto;
    background: #fff;
    padding: 8px 24px;
    font-size: 14px;
    .btn{
      width: 100%;
      margin: 16px 0 ;
      text-align: center;
      background: #aaa;
      border: 1px solid #aaa;
      color: #fff;
      line-height: 48px;
      display: block;
      cursor: pointer;
    }
    .red{
      background: #ea352d;
      border: 1px solid #ea352d;
    }
    p{
      text-align: center;
    }
  }
}
.is-modal{
  z-index: 3;
  display: none;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.75);
  font-size: 14px;
  &__inner{
    width: 600px;
    margin: 20px auto;
    background: #fff;
    z-index: 4;
  }
  &__body{
    padding: 64px;
    line-height: 1.5;
    text-align: center;
  }
  p{
    font-weight: 600;
    font-size: 16px;
  }
  .cancel-btn{
    float: left;
    width: 50%;
    line-height: 63px;
    cursor: pointer;
    border-top: 1px solid #ccc;
    text-align: center;
  }
  .delete-change{
    float: right;
    border-left: 1px solid #ccc;
    border-bottom: none;
    color: #0099e8;
    background: #fff;
  }
}
.is-soldout-badge::after{
  border-width: 120px 120px 0 0;
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: #ea352d transparent transparent transparent;
}
.is-sold{
  position: absolute;
  top: 24px;
  left: 0;
  font-size: 24px;
  z-index: 1001;
  color: #fff;
  transform: rotate(-45deg);
  letter-spacing: 2px;
  font-weight: 600;
}
.is-gray{
  background: #888;
}
.clearfix:after{
  content: '';
  display: block;
  clear: both;
}

