a {
  text-decoration: none;
}

.items-box{
  width: 220px;
  display: inline-block;
  a{
    display: block;
    color: #333;
    .top-photo{
      width: 220px;
      img{
        width: 220px;
        height:220px;
      }
    }
    .items-box-body{
      padding: 20px 16px 0 16px;
      height: 90px;
      background: #fff;
      margin-top: -6px;
      &__name{
        overflow: hidden;
        position: relative;
        font-weight: 400;
        line-height: 1.5;
        word-break: break-word;
        white-space: normal;
        height: 3em;
        text-align: left;
        font-size: 16px;
        text-decoration: none;
      }
      .items-box-num{

        .items-box-price{
          font-size: 16px;
          float: left;
          text-decoration: none;
          font-weight: 600;
        }
        .items-box-likes{
          font-size: 16px;
          font-weight: 400;
          color: #333;
          float: right;
          .fa.fa-heart{
            color:#EEEEEE;
            border-style: solid;
            border-width: 0;
            font-size: 1.1em
          }
          &__count {
            display: inline-block;
            margin: -1px 0 0;
            vertical-align: middle;
            font-size: 16px;
          }
        }
        .items-box-tax{
          font-size: 10px;
          clear: both;
          text-align: left;
          text-decoration: none;
          line-height: 0;
        }
      }
    }
  }
}


