@import "./mixin/login-default";
.login-share-footer{
    @include login-default();
  .ul-footer{
      width: 456px;
      height: 220px;
      margin: 0 auto;
      padding: 40px 0;
      text-align: center;
      .ul-ftnv{
        &__ul{
          &--list{
            display: inline-block;
            font-size: 12px;
            margin: 0 0 0 16px;
            a{text-decoration: none;
              color: #333;}
            a:hover { text-decoration: none;}
          }
        }

      }
      .ul-ftlink{
        display: block;
        width: 80px;
        height: 65px;
        margin: 40px auto 0;
        &__img{

        }

      }
      .ul-ftmsg{
        margin: 8px 0 0;
        font-size: 12px;
      }
    }
}
