.ul-contener{
  background-color:rgb(245, 245, 245);
  .ul-header{
    height: 128px;
    text-align: center;
    &__logo{
      margin: 40px 0 0;
      display: inline-block;
      &--link{
        width: 185px;
        height: 49px;
        line-height: 49px;
        display: inline-block;
        margin: 0 8px 0 0;
      }
      &--img{
        width: 185px;
        height: 49px;
      }
    }
  }
  .ul-main{
    display: block;
    .ul-login{
      max-width: none;
      width: 456px;
      height:731px;
      margin: 0 auto;
      background: white;
    }
  }
  .ul-footer{
    width: 456px;
    height: 220px;
    margin: 0 auto;
    // position: absolute;
    // right: 0;
    // bottom: 0;
    // left: 0;
    // z-index: 1;
    padding: 40px 0;
    text-align: center;
  }
}
