.ul-contener
  %header.ul-header
    %h1.ul-header__logo
      = link_to "https://www.mercari.com/jp/",class: "ul-header__logo--link" do
        = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?2845599746", alt: "mercari" , class: "ul-header__logo--img"
  %main.ul-main
    .ul-login
      .ul-new
      .ul-sns
      .ul-form
  %footer.ul-footer
    %nav.ul-ftnv
      %ul.ul-ftnv__ul
        %li.ul-ftnv__ul--list
          %a{href:"https://www.mercari.com/jp/privacy/"}プライバシーポシシー
        %li.ul-ftnv__ul--list
          %a{href:"https://www.mercari.com/jp/privacy/"}メルカリ利用規約
        %li.ul-ftnv__ul--list
          %a{href:"https://www.mercari.com/jp/privacy/"}特定商取引に関する表記
    %a{href:"https://www.mercari.com/jp/",class: "ul-ftlink"}
      %img{src:"//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?2845599746",class: "ul-ftlink__img",alt:"mercari",width:"80",height:"65"}
    %p.ul-ftmsg
      %small © 2019 Mercari


/ %h2 Log in
/ = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
/   .field
/     = f.label :email
/     %br/
/     = f.email_field :email, autofocus: true, autocomplete: "email"
/   .field
/     = f.label :password
/     %br/
/     = f.password_field :password, autocomplete: "current-password"
/   - if devise_mapping.rememberable?
/     .field
/       = f.check_box :remember_me
/       = f.label :remember_me
/   .actions
/     = f.submit "Log in"
/ = render "devise/shared/links"
