.is-item{
  &__comment-block{
    width: 700px;
    margin: 8px auto;
  }
  &__comments{
    padding: 24px;
    background-color: #fff;
    font-size: 14px;
    ul{
      margin: 0;
      li:first-child{
        margin: 1.5em 0 0;
      }
      li{
        margin: 60px 0 0;
        a{
          position: relative;
          top: -20px;
          display: inline-block;
          figure{
            width: 40px;
            height: 40px;
            overflow: hidden;
            border-radius: 50%;
            margin: 0;
            img{
              width: 100%;
            }
            figcaption{
              width: 600px;
              position: absolute;
              top: 0;
              font-weight: 600;
            }
          }
        }
        .body{
          width: 600px;
          padding: 16px;
          border-radius: 15px;
          line-height: 1.5;
          box-sizing: border-box;
          .is-item__comment__body__icons{
            margin: 8px 0 0;
            vertical-align: bottom;
            time{
              display: block;
              color: #aaa;
              float: left;
            }
            .fa-flag{
              float: right;
              color: #aaa;
            }
          }
        }
      }
    }
  }
  &__comment{
    &__user{
      float: left;
      color: #333;
      figcaption{
        left: 56px;
      }
    }
    &__body{
      float: right;
      background: #eef0f4;
    }
  }
  &__comment--self{
    &__user{
      float: right;
      color: #ea352d;
      figcaption{
        text-align: right;
        right: 56px;
      }
    }
    &__body{
      float: left;
      background: #fbf0e6;
    }
  }
  &__comments{
    textarea{
      display: block;
      box-sizing: border-box;
      margin: 8px 0 0;
      width: 100%;
      height: 104px;
      padding: 10px;
      background: #fff;
      border: 1px solid #ccc;
      font-size: 16px;
      line-height: 1.5;
    }
    p{
      padding: 8px;
      background: #fff6de;
    }
  }
}
.is-item__comment-form__btn{
  width: 100%;
  margin: 8px 0 0;
  text-align: center;
  background: #aaa;
  border: 1px solid #aaa;
  color: #fff;
  line-height: 48px;
}
.is-gray{
  background: #888;
}
