.items-box
  = link_to item_path(item), data: {"turbolinks"=>false} do
    .top-photo
      = image_tag("https://static.mercdn.net/item/detail/orig/photos/m62714068264_1.jpg?1553922913",class: "lazyloaded is-higher-width")
    .items-box-body
      %h3.items-box-body__name
        =item.name
      .items-box-num.clearfix
        .items-box-price ¥#{item.price}
        .items-box-likes
          %i.fa.fa-heart
          %span.items-box-likes__count #{item.likes.length}
        %p.items-box-tax (税込)
