%h3.items-box-container__title
  = link_to "メンズ 新着アイテム", "/test/", class:"items-box-container__title__topic"
.items-box-content.clearfix
  = render partial: "/items/items_top/item", collection: @mens
