.items-box
  = link_to root_path do
    .top-photo
      = image_tag("sample1.jpg",class: "lazyloaded is-higher-width")
    .items-box-body
      %h3.items-box-body__name
        =vuitton.name
      .items-box-num.clearfix
        .items-box-price ¥#{vuitton.price}
        .items-box-likes
          %i.fa.fa-heart
          %span.items-box-likes__count 1
        %p.items-box-tax (税込)
