@mixin ib_change-link() {
  font-size: 14px;
  text-align: right;
  &-link {
    color: #0099e8;
    .fa-angle-right {
      font-size:24px;
    }
  }
  &-link:hover {
    text-decoration: underline;
    opacity: 0.5;
  }
}
@mixin ib_box-config() {
  background-color: white;
  width: 700px;
  margin: 0 auto;
  border-bottom: 1.5px solid rgb(245, 245, 245);
}
