@mixin login-default(){
  &{  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
      color: #333;
      background-color:rgb(245, 245, 245);
      a { color:white; text-decoration:none }
      a:visited { color:white; text-decoration:none }
      a:hover { color:white; text-decoration:none }
      a:active { color:white; text-decoration:none }
    }
  }

